In [1]:
import pandas as pd
import numpy as np

In [2]:
#creating a new dimensional
attendance = pd.Series([50,120,155,133,25,200,325],index=['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday'])

In [3]:
attendance

Monday        50
Tuesday      120
Wednesday    155
Thursday     133
Friday        25
Saturday     200
Sunday       325
dtype: int64

In [4]:
# Sorting values
attendance.sort_values()

Friday        25
Monday        50
Tuesday      120
Thursday     133
Wednesday    155
Saturday     200
Sunday       325
dtype: int64

In [5]:
#loc function
attendance.loc['Sunday']

325

In [6]:
#iloc func
attendance.iloc[6]

325

In [7]:
#using slicing function
attendance.loc['Monday':'Friday']

Monday        50
Tuesday      120
Wednesday    155
Thursday     133
Friday        25
dtype: int64

In [8]:
# using iloc func
attendance.iloc[0:5]

Monday        50
Tuesday      120
Wednesday    155
Thursday     133
Friday        25
dtype: int64

In [9]:
# applying check on the data
attendance.loc[attendance>100]

Tuesday      120
Wednesday    155
Thursday     133
Saturday     200
Sunday       325
dtype: int64

In [10]:
# accessing values usiing bracket ony
attendance[0]

50

In [11]:
attendance['Tuesday']

120

In [12]:
attendance[attendance>200]

Sunday    325
dtype: int64

In [13]:
#Numpy:
a = attendance.values
a

array([ 50, 120, 155, 133,  25, 200, 325], dtype=int64)

In [14]:
# Scalar functions
revenue = attendance*50
revenue

Monday        2500
Tuesday       6000
Wednesday     7750
Thursday      6650
Friday        1250
Saturday     10000
Sunday       16250
dtype: int64

In [15]:
#sum 
print(attendance.sum())

1008

In [16]:
#min
print(attendance.min())

25

In [17]:
# weekdays Revenue
print(revenue['Monday':'Friday'])

Monday       2500
Tuesday      6000
Wednesday    7750
Thursday     6650
Friday       1250
dtype: int64

In [18]:
# MAX
print('Maximum Revenue is',revenue.iloc[np.where(revenue==max(revenue))],revenue.max())

Maximum Revenue is Sunday    16250
dtype: int64 16250

In [19]:
print(revenue['Saturday':'Sunday'])

Saturday    10000
Sunday      16250
dtype: int64

In [20]:
#--------------DataFrame--------------

Data = {'Apples':[1,4,2,7],'Oranges': [7,1,3,0]}
df = pd.DataFrame(Data)
print(df)

   Apples  Oranges
0       1        7
1       4        1
2       2        3
3       7        0

In [21]:
#specifying data labels
df = pd.DataFrame(Data,index=['Sourabh','Suraj','Himanshu','Billa'])
df

          Apples  Oranges
Sourabh        1        7
Suraj          4        1
Himanshu       2        3
Billa          7        0

In [22]:
df.to_csv('E:\\Purchases.csv')

In [23]:
#Q3 IMDB MOVIES DATA
data = pd.read_csv('IMDB-Movie-Data.csv',index_col='Title')

In [24]:
data.head()

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
Suicide Squad,5,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [25]:
data.tail()

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Secret in Their Eyes,996,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
Hostel: Part II,997,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
Step Up 2: The Streets,998,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
Search Party,999,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
Nine Lives,1000,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

In [26]:
#overview of the data
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, Guardians of the Galaxy to Nine Lives
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Genre               1000 non-null   object
 2   Description         1000 non-null   object
 3   Director            1000 non-null   object
 4   Actors              1000 non-null   object
 5   Year                1000 non-null   int64
 6   Runtime (Minutes)   1000 non-null   int64
 7   Rating              1000 non-null   float64
 8   Votes               1000 non-null   int64
 9   Revenue (Millions)  872 non-null    float64
 10  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(4)
memory usage: 93.8+ KB

In [27]:
#finding duplicates
data.duplicated().sum()

0

In [28]:
#appending copy of data to itself
data = data.append(data)

C:\Users\waheguru\AppData\Local\Temp\ipykernel_3076\3643646366.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(data)

In [29]:
data.duplicated().sum()

1000

In [30]:
# Dropping duplicates
data.drop_duplicates(inplace=True)

In [31]:
data.duplicated().sum()

0

In [32]:
data.head()

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
Suicide Squad,5,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [40]:
# Renaming the columns (Revenue and Runtime)
data = data.rename(columns={'Runtime (Minutes)': 'Runtime', 'Revenue (Millions)': 'Revenue_Millions'})

In [41]:
data.head()

,Rank,Genre,Description,Director,Actors,Year,Runtime,Rating,Votes,Revenue_Millions,Metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
Suicide Squad,5,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [35]:
# Checking null values in every column
data.isnull().sum()

Rank                    0
Genre                   0
Description             0
Director                0
Actors                  0
Year                    0
Runtime (Minutes)       0
Rating                  0
Votes                   0
Revenue (Millions)    128
Metascore              64
dtype: int64

In [37]:
# Dropping null columns
data.dropna(axis=1).shape

(1000, 9)

In [42]:
revenue = data['Revenue_Millions']
# to get all the values in the Revenue column

In [43]:
# Getting mean of the revenue column
avg = round(revenue.mean(),2)

In [44]:
# now filling all the with avg
revenue.fillna(avg,inplace=True)

In [46]:
data.isnull().sum()
# See below all the null value in the revenue is now filled

Rank                 0
Genre                0
Description          0
Director             0
Actors               0
Year                 0
Runtime              0
Rating               0
Votes                0
Revenue_Millions     0
Metascore           64
dtype: int64

In [48]:
#  to get the info about the data
data.describe()
# This will give the info about all the in items and some mathematical operations

,Rank,Year,Runtime,Rating,Votes,Revenue_Millions,Metascore
count,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,1000.000000,936.000000
mean,500.500000,2012.783000,113.172000,6.723200,1.698083e+05,82.956840,58.985043
std,288.819436,3.205962,18.810908,0.945429,1.887626e+05,96.412043,17.194757
min,1.000000,2006.000000,66.000000,1.900000,6.100000e+01,0.000000,11.000000
25%,250.750000,2010.000000,100.000000,6.200000,3.630900e+04,17.442500,47.000000
50%,500.500000,2014.000000,111.000000,6.800000,1.107990e+05,60.375000,59.500000
75%,750.250000,2016.000000,123.000000,7.400000,2.399098e+05,99.177500,72.000000
max,1000.000000,2016.000000,191.000000,9.000000,1.791916e+06,936.630000,100.000000

In [50]:
data.describe(include=[object])

,Genre,Description,Director,Actors
count,1000,1000,1000,1000
unique,207,1000,644,996
top,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,Ridley Scott,"Jennifer Lawrence, Josh Hutcherson, Liam Hemsw..."
freq,50,1,8,2

In [51]:
# Max rating
data.Rating.max()

9.0

In [52]:
# List of all the years
data.Year.unique()

array([2014, 2012, 2016, 2015, 2007, 2011, 2008, 2006, 2009, 2010, 2013],
      dtype=int64)

In [54]:
# To check no. of entries Year wise
data.Year.value_counts()

2016    297
2015    127
2014     98
2013     91
2012     64
2011     63
2010     60
2007     53
2008     52
2009     51
2006     44
Name: Year, dtype: int64

In [55]:
# getting data Year wise
data['Year']

Title
Guardians of the Galaxy    2014
Prometheus                 2012
Split                      2016
Sing                       2016
Suicide Squad              2016
                           ...
Secret in Their Eyes       2015
Hostel: Part II            2007
Step Up 2: The Streets     2008
Search Party               2014
Nine Lives                 2016
Name: Year, Length: 1000, dtype: int64

In [57]:
# getting data Year and rating wise
data[['Year','Rating']]

                         Year  Rating
Title
Guardians of the Galaxy  2014     8.1
Prometheus               2012     7.0
Split                    2016     7.3
Sing                     2016     7.2
Suicide Squad            2016     6.2
...                       ...     ...
Secret in Their Eyes     2015     6.2
Hostel: Part II          2007     5.5
Step Up 2: The Streets   2008     6.2
Search Party             2014     5.6
Nine Lives               2016     5.3

[1000 rows x 2 columns]

In [58]:
# To get info of a row
data.loc['Suicide Squad']

Rank                                                                5
Genre                                        Action,Adventure,Fantasy
Description         A secret government agency recruits some of th...
Director                                                   David Ayer
Actors              Will Smith, Jared Leto, Margot Robbie, Viola D...
Year                                                             2016
Runtime                                                           123
Rating                                                            6.2
Votes                                                          393727
Revenue_Millions                                               325.02
Metascore                                                        40.0
Name: Suicide Squad, dtype: object

In [60]:
# to get particular list to items
data.loc[data['Director']=='Ridley Scott']

,Rank,Genre,Description,Director,Actors,Year,Runtime,Rating,Votes,Revenue_Millions,Metascore
Title,,,,,,,,,,,
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
The Martian,103,"Adventure,Drama,Sci-Fi",An astronaut becomes stranded on Mars after hi...,Ridley Scott,"Matt Damon, Jessica Chastain, Kristen Wiig, Ka...",2015,144,8.0,556097,228.43,80.0
Robin Hood,388,"Action,Adventure,Drama","In 12th century England, Robin and his band of...",Ridley Scott,"Russell Crowe, Cate Blanchett, Matthew Macfady...",2010,140,6.7,221117,105.22,53.0
American Gangster,471,"Biography,Crime,Drama","In 1970s America, a detective works to bring d...",Ridley Scott,"Denzel Washington, Russell Crowe, Chiwetel Eji...",2007,157,7.8,337835,130.13,76.0
Exodus: Gods and Kings,517,"Action,Adventure,Drama",The defiant leader Moses rises up against the ...,Ridley Scott,"Christian Bale, Joel Edgerton, Ben Kingsley, S...",2014,150,6.0,137299,65.01,52.0
The Counselor,522,"Crime,Drama,Thriller",A lawyer finds himself in over his head when h...,Ridley Scott,"Michael Fassbender, Penélope Cruz, Cameron Dia...",2013,117,5.3,84927,16.97,48.0
A Good Year,531,"Comedy,Drama,Romance",A British investment broker inherits his uncle...,Ridley Scott,"Russell Crowe, Abbie Cornish, Albert Finney, M...",2006,117,6.9,74674,7.46,47.0
Body of Lies,738,"Action,Drama,Romance",A CIA agent on the ground in Jordan hunts down...,Ridley Scott,"Leonardo DiCaprio, Russell Crowe, Mark Strong,...",2008,128,7.1,182305,39.38,57.0

In [62]:
#Creating a function to generate review of a movie
def rat_func(x):
    if x >=8.0:
        return 'Good'
    else:
        return 'Bad'

In [63]:
# adding a new list into the data using rat_func
data['Review']= data.Rating.apply(rat_func)

In [64]:
data.head()
# New column review added

,Rank,Genre,Description,Director,Actors,Year,Runtime,Rating,Votes,Revenue_Millions,Metascore,Review
Title,,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0,Good
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0,Bad
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0,Bad
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0,Bad
Suicide Squad,5,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0,Bad

In [65]:
# Deleting columns
del data['Review']
# or
# data.drop(columns='Review')

In [66]:
data.head()
# See the review is deleted or dropped from the table

,Rank,Genre,Description,Director,Actors,Year,Runtime,Rating,Votes,Revenue_Millions,Metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
Suicide Squad,5,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0